<div class="d-flex flex-column min-vh-100 bg-light" >
    <app-header></app-header>
    <div class="container flex-fill mt-5" style="position: relative; top: 50px;">
        <div class="card card-body mt-2">
            <h1>Mes Produits</h1>
            <div class="dropdown-divider"></div>
            <!-- modal ajouter produit -->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary col-2 " data-bs-toggle="modal" data-bs-target="#newproduit">
                Ajouter un produit
            </button>
            <div class="dropdown-divider"></div>
        
            <!-- Modal -->
            <div class="modal fade" id="newproduit" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Nouveau produit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        
                        </div>
                        <div class="modal-body">
                            <form #produitForm="ngForm">
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="libelle" class="form-label">Libelle <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="libelle" name="libelle"
                                            [(ngModel)]="produit.libelle" #libelle="ngModel" required
                                            [ngClass]="{ 'is-invalid': (libelle.touched || libelle.dirty) && libelle.invalid }">
                                        <div *ngIf="(libelle.touched || libelle.dirty) && libelle.invalid"
                                            class="text-danger">
                                            <p *ngIf="libelle.errors?.required">le libelle est obligatoire</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="prix" class="form-label">Prix unitaire <span
                                                class="text-danger">*</span></label>
                                        <input type="number" class="form-control" id="prix" name="prix" [(ngModel)]="produit.prixU" #prix="ngModel"
                                            required [ngClass]="{ 'is-invalid': (prix.touched || prix.dirty) && prix.invalid }">
                                        <div *ngIf="(prix.touched || prix.dirty) && prix.invalid"
                                            class="text-danger">
                                            <p *ngIf="prix.errors?.required">le prix est obligatoire</p>
                                        </div>
                                    </div>
                                    
        
                                </div>
                                
                                <div>
                                    <label for="description" class="form-label">Description <span
                                            class="text-danger">*</span></label>
                                    <textarea name="description" id="description" cols="30" rows="10" class="form-control"
                                        required [(ngModel)]="produit.description" #description="ngModel"
                                        [ngClass]="{ 'is-invalid': (description.touched || description.dirty) && description.invalid }"></textarea>
                                    <div *ngIf="(description.touched || description.dirty) && description.invalid"
                                        class="text-danger">
                                        <p *ngIf="description.errors?.required">la description est obligatoire</p>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                            <button type="button" class="btn btn-primary" (click)="saveProduit()"
                                [disabled]="produitForm.invalid ">Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal update produit -->
            <div class="modal fade" id="updateProduit" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Update produit</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        
                        </div>
                        <div class="modal-body">
                            <form #produitUForm="ngForm">
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="libelle" class="form-label">Libelle <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="libelle" name="libelle" [(ngModel)]="produitU.libelle"
                                            #libelle="ngModel" required
                                            [ngClass]="{ 'is-invalid': (libelle.touched || libelle.dirty) && libelle.invalid }">
                                        <div *ngIf="(libelle.touched || libelle.dirty) && libelle.invalid" class="text-danger">
                                            <p *ngIf="libelle.errors?.required">le libelle est obligatoire</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="prix" class="form-label">Prix unitaire <span class="text-danger">*</span></label>
                                        <input type="number" class="form-control" id="prix" name="prix" [(ngModel)]="produitU.prixU"
                                            #prix="ngModel" required [ngClass]="{ 'is-invalid': (prix.touched || prix.dirty) && prix.invalid }">
                                        <div *ngIf="(prix.touched || prix.dirty) && prix.invalid" class="text-danger">
                                            <p *ngIf="prix.errors?.required">le prix est obligatoire</p>
                                        </div>
                                    </div>
                        
                        
                                </div>
                        
                                <div>
                                    <label for="description" class="form-label">Description <span class="text-danger">*</span></label>
                                    <textarea name="description" id="description" cols="30" rows="10" class="form-control" required
                                        [(ngModel)]="produitU.description" #description="ngModel"
                                        [ngClass]="{ 'is-invalid': (description.touched || description.dirty) && description.invalid }"></textarea>
                                    <div *ngIf="(description.touched || description.dirty) && description.invalid" class="text-danger">
                                        <p *ngIf="description.errors?.required">la description est obligatoire</p>
                                    </div>
                                </div>
                        
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                            <button (click)="saveUpdateProduit()" type="button" class="btn btn-primary" [disabled]="produitUForm.invalid ">Modifier</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal nouvelle commande -->
            <div class="modal fade" id="newcommande" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">nouvelle commande</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        
                        </div>
                        <div class="modal-body">
                            <form #commandeForm="ngForm">
                                <div>
                                   
                                    <div class="col">
                                        <label for="quantite" class="form-label">quantité <span class="text-danger">*</span></label>
                                        <input type="number" class="form-control" id="quantite" name="quantite" [(ngModel)]="commande.quantite"
                                            #quantite="ngModel" required [ngClass]="{ 'is-invalid': (quantite.touched || quantite.dirty) && quantite.invalid }">
                                        <div *ngIf="(quantite.touched || quantite.dirty) && quantite.invalid" class="text-danger">
                                            <p *ngIf="quantite.errors?.required">la quantité est obligatoire</p>
                                        </div>
                                    </div>
                        
                        
                                </div>
                        
                        
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                            <button (click)="saveCommande()" type="button" class="btn btn-primary" [disabled]="commandeForm.invalid ">Commander</button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="">
                        <tr>
                            <th>#</th>
                            <th>Libelle</th>
                            <th>prix unitaire</th>
                            <th>description</th>
                            <th>action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of ListeProduits">
                            
                            <td>{{p.idProduit}}</td>
                            <td>{{p.libelle}}</td>
                            <td>{{p.prixU}}</td>
                            <td>{{p.description}}</td>
                            <td>
                                <button (click)="updateProduit(p.idProduit)" type="button" class="btn btn-outline-warning m-1 ">
                                    modifier
                                </button>
                                <button (click)="deleteProduit(p.idProduit)" type="button" class="btn btn-outline-danger m-1">
                                    supprimer
                                </button>
                                <button (click)="commander(p.idProduit, p.prixU)" type="button" class="btn btn-outline-success m-1">
                                    commander
                                </button>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
        
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>